# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

aws/

config_env_aws.sh

tmp/

01_Manage_resources_terraform_state/.terraform*

02_manage_tf_version/tmp
02_manage_tf_version/.terraform*

03_spotify_tfe_play/.terraform*
03_spotify_tfe_play/terraform*
03_spotify_tfe_play/.env

04_terraform_troubleshooting/.terraform*

05_modules_use_tf/.terraform*

06_modules_creation/.terraform*

07_tf_apply/.terraform*

08_manage_resource_drift/.terraform*
08_manage_resource_drift/key/*